* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "DM Sans", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  margin-top: 32px;
}
.header__container {
  width: 1240px;
  margin: 0 auto;
  border: 1px solid #0075FF;
  border-radius: 30px;
  margin-top: 32px 0;
}
.header__box {
  padding: 10px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 32px;
  height: 30px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  font-size: 18px;
  font-weight: medium;
}
.header__link {
  color: #0075FF;
}
.header__link:hover {
  color: rgba(14, 46, 78, 0.75);
}
@media (max-width: 1024px) {
  .header__container {
    max-width: 824px;
    padding: 0 24px;
  }
  .header__box {
    width: 100%;
    padding: 10px 24px;
  }
  .header__nav {
    font-size: 16px;
    gap: 8px;
  }
}
@media (max-width: 375px) {
  .header {
    margin-top: 16px;
  }
  .header__container {
    max-width: 327px;
    border-radius: 30px;
  }
  .header__box {
    gap: 8px;
    padding: 7px 0;
  }
  .header__logo {
    width: 22px;
    height: 22px;
  }
  .header img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
  }
  .header__nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6px;
    font-size: 12px;
  }
}

.section {
  min-width: 100%;
  padding: 80px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #ffffff), to(#C2DEFF));
  background: linear-gradient(to bottom, #ffffff 25%, #C2DEFF 100%);
}
@media (max-width: 1024px) {
  .section {
    padding: 40px 0;
  }
}
@media (max-width: 375px) {
  .section {
    padding: 20px 0;
  }
}
.section__container {
  width: 1240px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .section__container {
    max-width: 824px;
    padding: 0 24px;
  }
}
@media (max-width: 375px) {
  .section__container {
    max-width: 327px;
    padding: 0 16px;
  }
}
.section__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin: 48px 0;
}
@media (max-width: 1024px) {
  .section__top {
    margin: 36px 0;
  }
}
@media (max-width: 375px) {
  .section__top {
    margin: 24px;
  }
}
.section__title {
  font-size: 48px;
  font-weight: medium;
  color: #252D37;
}
@media (max-width: 1024px) {
  .section__title {
    font-size: 34px;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .section__title {
    font-size: 25px;
    text-align: center;
  }
}
.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .section__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 375px) {
  .section__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section__card-wrapper {
  border-radius: 30px;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 4px 4px rgba(5, 75, 165, 0.25);
          box-shadow: 0 4px 4px rgba(5, 75, 165, 0.25);
}
@media (max-width: 1024px) {
  .section__card-wrapper {
    max-width: 610px;
  }
}
@media (max-width: 375px) {
  .section__card-wrapper {
    max-width: 327px;
  }
}
.section__cards {
  width: 610px;
  border-radius: 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .section__cards {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 375px) {
  .section__cards {
    max-width: 100%;
    height: auto;
  }
}
.section__cardimg {
  width: 33.333%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.section__cardbox {
  width: 66.666%;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__cardtitle {
  font-size: 32px;
  font-weight: 600;
  color: rgba(14, 46, 78, 0.75);
  line-height: 1.2;
  margin-bottom: 12px;
  text-align: center;
}
@media (max-width: 1024px) {
  .section__cardtitle {
    font-size: 22px;
  }
}
@media (max-width: 375px) {
  .section__cardtitle {
    font-size: 17px;
  }
}
.section__text {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  text-align: center;
}
@media (max-width: 1024px) {
  .section__text {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .section__text {
    font-size: 12px;
  }
}

.blue {
  background-color: #C8E1FF;
}

.white {
  background-color: #FFFDFA;
}

.footer {
  background-color: #96C6FF;
}
.footer__container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer__text {
  font-size: 24px;
  color: #0E2E4E;
}
.footer__icon {
  width: 24px;
  height: 24px;
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.footer__nick {
  font-size: 24px;
  color: #0E2E4E;
}
.footer__img {
  width: 24px;
  height: 24px;
}
.footer__tg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.footer__inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.footer__yt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
@media (max-width: 1024px) {
  .footer__container {
    max-width: 824px;
  }
  .footer__text {
    font-size: 16px;
  }
  .footer__icon {
    width: 16px;
    height: 16px;
  }
  .footer__icon img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
  }
  .footer__nick {
    font-size: 16px;
  }
  .footer__img {
    width: 16px;
    height: 16px;
  }
  .footer__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
  }
}
@media (max-width: 375px) {
  .footer__container {
    max-width: 327px;
  }
  .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__icon {
    width: 12px;
    height: 12px;
  }
  .footer__icon img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
  }
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .footer__nick {
    font-size: 12px;
  }
  .footer__img {
    width: 12px;
    height: 12px;
  }
  .footer__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
  }
}