@import "../scss/nullstyle.scss";


body {
   font-family: 'DM Sans', sans-serif;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.header {
   margin-top: 32px;

   &__container {
      width: 1240px;
      margin: 0 auto;
      border: 1px solid #0075FF;
      border-radius: 30px;
      margin-top: 32px 0;

   }

   &__box {
      padding: 10px 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }


   &__logo {
      width: 32px;
      height: 30px;
   }

   &__nav {
      display: flex;
      gap: 16px;
      font-size: 18px;
      font-weight: medium;
   }

   &__link {
      color: #0075FF;

      &:hover {
         color: rgba(14, 46, 78, 0.75);
      }

   }
}


.section {
   min-width: 100%;
   padding: 80px 0;
   background: linear-gradient(to bottom,
         #ffffff 25%,
         #C2DEFF 100%);

   &__container {
      width: 1240px;
      margin: 0 auto;
   }

   &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      margin: 48px 0;
   }

   &__title {
      font-size: 48px;
      font-weight: medium;
      color: #252D37;
   }

   &__content {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 60px;
   }

   &__card-wrapper {
      border-radius: 30px;
      overflow: visible;
      display: flex;
      justify-content: center;
      box-shadow: 0 4px 4px rgba(5, 75, 165, 0.25);
   }

   &__cards {
      width: 610px;
      border-radius: 30px;
      overflow: hidden;
      display: flex;
   }

   &__cardimg {
      width: 33.333%;
      object-fit: cover;
      display: block;
   }

   &__cardbox {
      width: 66.666%;
      padding: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

   }

   &__cardtitle {
      font-size: 32px;
      font-weight: 600;
      color: rgba(14, 46, 78, 0.75);
      line-height: 1.2;
      margin-bottom: 12px;
      text-align: center;
   }

   &__text {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.50);
      line-height: 1.5;
      text-align: center;
   }
}

.blue {
   background-color: #C8E1FF;
}

.white {
   background-color: #FFFDFA;
}




.footer {
   background-color: #96C6FF;

   &__container {
      width: 100%;
      max-width: 1240px;
      margin: 0 auto;
      padding: 48px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   &__left {
      display: flex;
      flex-direction: row;
   }

   &__text {
      font-size: 24px;
      color: #0E2E4E;
   }

   &__icon {
      width: 24px;
      height: 24px;
   }

   &__right {
      display: flex;
      flex-direction: row;
   }

   &__contacts {
      display: flex;
      flex-direction: row;
      gap: 20px;
   }

   &__nick {
      font-size: 24px;
      color: #0E2E4E;
   }

   &__img {
      width: 24px;
      height: 24px;
   }

   &__tg {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
   }

   &__inst {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
   }

   &__yt {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
   }
}