@import "../scss/nullstyle.scss";


body {
   font-family: 'DM Sans', sans-serif;

}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.header {
   margin-top: 32px;

   &__container {
      width: 1240px;
      margin: 0 auto;
      border: 1px solid #0075FF;
      border-radius: 30px;
      margin-top: 32px 0;

   }

   &__box {
      padding: 10px 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }


   &__logo {
      width: 32px;
      height: 30px;
   }

   &__nav {
      display: flex;
      gap: 16px;
      font-size: 18px;
      font-weight: medium;
   }

   &__link {
      color: #0075FF;

      &:hover {
         color: rgba(14, 46, 78, 0.75);
      }

   }

   @media (max-width: 1024px) {
      &__container {
         max-width: 824px;
         padding: 0 24px;
      }

      &__box {
         width: 100%;
         padding: 10px 24px;
      }

      &__nav {
         font-size: 16px;
         gap: 8px;
      }
   }


   @media (max-width: 375px) {
      margin-top: 16px;

      &__container {
         max-width: 327px;
         border-radius: 30px;
      }

      &__box {
         gap: 8px;
         padding: 7px 0;
      }

      &__logo {
         width: 22px;
         height: 22px;
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
         display: block;
      }

      &__nav {
         align-items: center;
         gap: 6px;
         font-size: 12px;
      }
   }
}


.section {
   min-width: 100%;
   padding: 80px 0;
   background: linear-gradient(to bottom,
         #ffffff 25%,
         #C2DEFF 100%);

   @media (max-width:1024px) {
      padding: 40px 0;
   }

   @media (max-width:375px) {
      padding: 20px 0;
   }

   &__container {
      width: 1240px;
      margin: 0 auto;

      @media (max-width:1024px) {
         max-width: 824px;
         padding: 0 24px;
      }

      @media (max-width:375px) {
         max-width: 327px;
         padding: 0 16px;
      }
   }

   &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      margin: 48px 0;

      @media (max-width:1024px) {
         margin: 36px 0;
      }

      @media (max-width:375px) {
         margin: 24px;
      }
   }

   &__title {
      font-size: 48px;
      font-weight: medium;
      color: #252D37;

      @media (max-width:1024px) {
         font-size: 34px;
         text-align: center;
      }

      @media (max-width:375px) {
         font-size: 25px;
         text-align: center;
      }
   }


   &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-bottom: 60px;

      @media (max-width:1024px) {
         grid-template-columns: 1fr;
      }

      @media (max-width:375px) {
         grid-template-columns: 1fr;
      }
   }

   &__card-wrapper {
      width: 100%;
      border-radius: 30px;
      box-shadow: 0 4px 4px rgba(5, 75, 165, 0.25);
   }

   &__cards {
      width: 100%;
      border-radius: 30px;
      overflow: hidden;
      display: flex;
   }

   &__cardimg {
      width: 33.333%;
      object-fit: cover;
      display: block;
   }

   &__cardbox {
      width: 66.666%;
      padding: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &__cardtitle {
      font-size: 32px;
      font-weight: 600;
      color: rgba(14, 46, 78, 0.75);
      line-height: 1.2;
      margin-bottom: 12px;
      text-align: center;

      @media(max-width:1024px) {
         font-size: 22px;
      }

      @media(max-width:375px) {
         font-size: 17px;
      }
   }

   &__text {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.50);
      line-height: 1.5;
      text-align: center;

      @media (max-width:1024px) {
         font-size: 18px;
      }

      @media (max-width:375px) {
         font-size: 12px;
      }
   }
}


.blue {
   background-color: #C8E1FF;
}

.white {
   background-color: #FFFDFA;
}





.footer {
   background-color: #96C6FF;

   &__container {
      width: 100%;
      max-width: 1240px;
      margin: 0 auto;
      padding: 48px 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   &__left {
      display: flex;
      flex-direction: row;
   }

   &__text {
      font-size: 24px;
      color: #0E2E4E;
   }

   &__icon {
      width: 24px;
      height: 24px;
   }

   &__right {
      display: flex;
      flex-direction: row;
   }

   &__contacts {
      display: flex;
      flex-direction: row;
      gap: 20px;
   }

   &__nick {
      font-size: 24px;
      color: #0E2E4E;
   }

   &__img {
      width: 24px;
      height: 24px;
   }

   &__tg {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
   }

   &__inst {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
   }

   &__yt {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
   }

   @media (max-width: 1024px) {

      &__container {
         max-width: 824px;
      }

      &__text {
         font-size: 16px;
      }

      &__left {
         flex-direction: column;
      }

      &__icon {
         width: 16px;
         height: 16px;

         img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
         }
      }

      &__contacts {
         flex-direction: column;
         align-items: end;
      }

      &__nick {
         font-size: 16px;
      }

      &__img {
         width: 16px;
         height: 16px;

         img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
         }
      }
   }

   @media (max-width: 375px) {

      &__container {
         max-width: 327px;
      }

      &__left {
         flex-direction: column;
      }

      &__icon {
         width: 12px;
         height: 12px;

         img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
         }
      }

      &__contacts {
         flex-direction: column;
         align-items: end;
      }

      &__nick {
         font-size: 12px;
      }

      &__img {
         width: 12px;
         height: 12px;

         img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
         }
      }

   }
}