@import "../scss/nullstyle.scss";

body {
   font-family: 'DM Sans', sans-serif;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.header {
   margin-top: 32px;
   display: flex;

   &__container {
      width: 1240px;
      margin: 0 auto;
      border: 1px solid #0075FF;
      border-radius: 30px;
      margin-top: 32px 0;
   }

   &__box {
      padding: 10px 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__logo {
      width: 32px;
      height: 30px;
   }

   &__nav {
      display: flex;
      gap: 16px;
      font-size: 18px;
      font-weight: medium;
   }

   &__link {
      color: #0075FF;

      &:hover {
         color: rgba(14, 46, 78, 0.75);
      }
   }

   @media (max-width: 1024px) {
      &__container {
         max-width: 824px;
         padding: 0 24px;
      }

      &__box {
         width: 100%;
         padding: 10px 24px;
      }

      &__nav {
         font-size: 16px;
         gap: 8px;
      }
   }


   @media (max-width: 375px) {
      margin-top: 16px;

      &__container {
         max-width: 327px;
         border-radius: 30px;
      }

      &__box {
         gap: 8px;
         padding: 7px 0;
      }

      &__logo {
         width: 22px;
         height: 22px;
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
         display: block;
      }

      &__nav {
         align-items: center;
         gap: 6px;
         font-size: 12px;
      }
   }

}

.section1 {
   min-width: 100%;
   background: linear-gradient(to bottom,
         #ffffff 25%,
         #C2DEFF 100%);

   &__container {
      width: 100%;
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__logo {
      padding: 20px 0;
   }

   &__bunner {
      width: 1060px;
      max-width: 100%;
      margin: 24px auto 100px;
      background-color: #FFFDFA;
      border-radius: 30px;
      padding: 24px;
      box-shadow: 0 4px 4px rgba(5, 75, 165, 0.25);
   }

   &__title {
      font-size: 48px;
      font-weight: bold;
      color: rgb(37, 45, 55, 0.75);
      text-align: center;
      padding: 16px 0;
      line-height: 150%;
   }

   &__text {
      font-size: 20px;
      color: #7E7E7E;
      line-height: 150%;
      text-align: left;
      padding: 16px 0;
   }

   &__link {
      color: #7E7E7E;
   }

   @media (max-width: 1024px) {
      &__container {
         max-width: 824px;
      }
   }

}

@media (max-width: 375px) {
   &__container {
      max-width: 375px;
   }
}


.footer {
   background-color: #96C6FF;

   &__container {
      width: 100%;
      max-width: 1240px;
      margin: 0 auto;
      padding: 48px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   &__left {
      display: flex;
      flex-direction: row;
   }

   &__text {
      font-size: 24px;
      color: #0E2E4E;
   }

   &__icon {
      width: 24px;
      height: 24px;
   }

   &__right {
      display: flex;
      flex-direction: row;
   }

   &__contacts {
      display: flex;
      flex-direction: row;
      gap: 20px;
   }

   &__nick {
      font-size: 24px;
      color: #0E2E4E;
   }

   &__img {
      width: 24px;
      height: 24px;
   }

   &__tg {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
   }

   &__inst {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
   }

   &__yt {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
   }


   @media (max-width: 1024px) {

      &__container {
         max-width: 824px;
      }

      &__text {
         font-size: 16px;
      }

      &__icon {
         width: 16px;
         height: 16px;

         img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
         }
      }

      &__nick {
         font-size: 16px;
      }

      &__img {
         width: 16px;
         height: 16px;

         img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
         }
      }
   }

   @media (max-width: 375px) {

      &__container {
         max-width: 327px;
      }

      &__left {
         flex-direction: column;
      }

      &__icon {
         width: 12px;
         height: 12px;

         img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
         }
      }

      &__contacts {
         flex-direction: column;
         align-items: end;
      }

      &__nick {
         font-size: 12px;
      }

      &__img {
         width: 12px;
         height: 12px;

         img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
         }
      }

   }

}